svg {
  animation-name: draw;
  animation-duration: 5s;
  animation-fill-mode: forwards; 
  animation-iteration-count: 1; 
  animation-timing-function: linear;
}

.projectile-path {
  fill-opacity: 0;
  stroke: #000;
  stroke-width: 1;
  stroke-dasharray: 870;
  stroke-dashoffset: 870;
  }
  @keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.container, .container svg  {
  position: absolute;
  bottom: 0;
}

.container {
  width: 100%;
  height: 100%;
}

body, html {
  height: 100%;
  width: 100%;
  position: relative;
}

#ball {
  position: absolute;
  top: 140px;
  left: 0px;
  animation: curvedLine 2.5s infinite linear;
}

@keyframes curvedLine {
  0% {
    transform: translate(0px, 0px);   
  }

  25% {
    transform: translate(40px, -40px);  
  }
  50% {
    transform: translate(80px, -80px);
  }
  75% {
    transform: translate(100px, -40px);
  }
  100% {
    transform: translate(180px, 0px);
  }
}


@keyframes bounce {
  0% {
    transform: translateX(0px);               
    transform: translateY(0px);
  }

  50% {
    transform: translateX(40px);             
    transform: translateY(40px); 
  }
}

h1 {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 60px;
    display: block;
}

